:root{
    --yellow : #fecc4e;
    --blue : #0b58a2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: "PT Sans", serif;
}

.upper-nav{
    background-color: var(--yellow);
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-left: 20rem;
    padding-right: 5rem;
}

.upper-nav a{
    text-decoration: none;
    color: black;
}

.upper-nav .active{
    color: var(--blue);
    font-weight: bold;
    text-decoration: underline;
}

.upper-nav-items a{
  margin: 0 1rem;
}

.upper-nav .upper-nav-items a:hover{
    color: var(--blue);
    font-weight: bold;
    text-decoration: underline;
}

.blogs a:hover{
    color: var(--blue);
    font-weight: bold;
    text-decoration: underline;
}

.profile a{
    color: var(--blue);
    font-weight: bold;
}

.profile:hover{
    border-bottom: 2px solid var(--blue);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 15rem;
    flex-wrap: nowrap;
}

nav a{
    text-decoration: none;
    color: #010101;
    transition: all ease-in-out 0.2s;
}

nav a:hover{
    color: var(--blue);
    transform: scale(1.1);
}

nav img{
    margin-right: 2rem;
}

details{
    position: relative;
    width: 10rem;
}

summary{    
    height: 2.5rem;
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    user-select: none;
    color: #707070;
    border-bottom: 2px solid var(--blue);
    border-radius: 4px;
}

details[open] summary {
    background-color: white;
  }
  
.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
}

.location {
    padding: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.location img{
    margin-right: 10px;
}

.location span{
    border-bottom: 0.5px solid #707070;
}

.location span:hover{
    background-color: var(--yellow);
    color: var(--blue);
    font-weight: bold;
}

.search input{
    width: 15rem;
    height: 2.5rem;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem) center;
    padding-right: 2rem;
    background-size: 1.5rem;
    border-radius: 4px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid var(--blue);
}

.cart-img{
    margin-left: 1rem;
    cursor: pointer;
}

.create-abha{
    background-color: #0047ae;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
}

.create-abha img{
    margin: 10px;
    cursor: pointer;
}

.create-abha span{
    border-left: 1px solid white;
    width: 70%;
    padding: 10px;
}

.create-abha:hover{
    transform: scale(1.1);
}

.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    height: 300px;
}

.hero-section{
    position: relative;
}

.hero-bottom{
    display: flex;
    justify-content: center;
    background-color: #0047ae;
    color: white;
    font-weight: bold;
    height: 30vh;
}

.hero-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    margin: 1rem;
    padding-left: 30px;
    border-left: 1px solid var(--yellow);
}

.hero-item img:hover{
    transform: scale(1.2);   
}

.hero-item:last-child{
    border-right: 1px solid var(--yellow);
    padding-right: 30px;
}


.hero-item img{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.hero-item span{
    cursor: pointer;
}

.special-programs{
    background-color: white;
    position: absolute;
    top: 70%;
    left: 15%;
    width: 70vw;
    height: auto;
    border-radius: 14px;
    padding: 1rem;
}

.program-container, .test-container, .blog-container, .video-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3rem;
}

.program-info, .test-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.program-info img{
    margin: 1rem 0;
}

.program-info:hover{
    transform: scale(1.2);
}

.package-item-container{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.popular-tests{
    margin-top: 15rem;
    background-color: white;
    width: 70vw;
    height: 50vh;
    margin-left: 18rem;
    border-radius: 14px;
    padding: 1rem;
}

.package-item{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all ease-in-out 0.3s;
}

.package-item:hover{
    transform: scale(1.1);
}

.package-item li{
    list-style: none;
}

.package-item li img{
    margin-right: 10px;
}

.package-item li img:last-child{
    height: 80%;
    width : 1.5rem;
}

.package-item h2,li,span{
    padding: 10px;
}

.book-now{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: var(--yellow);
}

.book-now button{
    background-color: #0047ae;
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.search-test, .promotions, .explore, .corporate{
    background-color: white;
    width: 70vw;
    height: 30vh;
    margin-top: 2rem;
    margin-left: 18rem;
    border-radius: 14px;
    padding: 1rem;
}

.search-buttons button{
    border-radius: 16px;
    border: none;
    background-color: rgb(207, 207, 207);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.search-buttons .active{
    background-color: var(--yellow);
    color: #010101;
}

.search-buttons button:hover{
    background-color: var(--yellow);
    color: #010101;
}

.search-test input{
    width: 15rem;
    height: 2.5rem;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem) center;
    padding-right: 2rem;
    background-size: 1.5rem;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid gray;
}

.search-section{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.test-item:hover{
    transform: scale(1.2);
}

.promotions{
    height: 40vh;
}

.promotions img{
    width: 400px;
    border-radius: 10px;
}

.promotion-container{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.promotion-item{
    position: relative;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.promotion-item:hover{
    transform: scale(1.1);
}

.promotion-item div{
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: white;
    padding: 5px;
}

.explore{
    height: 45vh;
}

.explore img{
    margin-top: 2rem;
}

.corporate{
    display: flex;
    justify-content: space-around;
    height: 40vh;
}

.corporate-container{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-top: 1rem;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.corporate-container img{
    border-radius: 10px;
    justify-self: center;
}

.corporate-container:hover{
    transform: scale(1.1);
}

.quality, .certificates, .featured, .videos, .info, .faq, .test-at-home, .all-tests{
    background-color: white;
    width: 70vw;
    height: 30vh;
    margin-left: 18rem;
    border-radius: 14px;
    padding: 1rem;
    margin-top: 2rem;
}

.quality-item-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.quality-item{
    display: flex;
    justify-content: space-between;
}

.quality-item-text{
    display: flex;
    flex-direction: column;
}
.quality-item-text h2{
    color: #0047ae;
}

.certificates-container{
    display: flex;
    justify-content: space-around;
}

.cert-item{
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     padding: 1rem 2rem;
     width: 40%;
     border-radius: 14px;
}

.cert-logos{
    display: flex;
    justify-content: space-around;
}

.cert-logos:last-child{
    margin-top: 2rem;
}

.download-bg{
    height: 20rem;
}

.download{
    position: relative;
}

.download-section{
    position: absolute;
    top: 20%;
    left: 5%;
}

.download-section img{
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.download-section img:hover{
    transform: scale(1.1);
}

.featured{
    height: 40vh;
}

.blog-container img{
    height: 200px;
    width: 400px;
    border-radius: 14px;
}

.blog-item{
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.blog-item:hover{
    transform: scale(1.1);
}

.videos{
    height: 45vh;
}

iframe{
    border-radius: 10px;
}

.info{
    padding: 2rem 1rem;
    height: 35vh;
}

.info h2{
    margin: 0.5rem 0;
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question{
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--yellow);
}
.question a{
    text-decoration: none;
}
.question a:hover{
    text-decoration: underline;
}

.cities, .tests{
    margin-top: 2rem;
    font-size: 1.1rem;
    color: rgb(97, 95, 95);
}

.cities a, .tests a{
    padding: 5px;
    text-decoration: none;
    color: rgb(97, 95, 95);
}

.cities a:hover{
    text-decoration: underline;
}

.tests a:hover{
    text-decoration: underline;
}

.all-tests{
    height: 25vh;
}

.sub-footer{
    width: 100%;
    height: 40vh;
    background-color: var(--yellow);
    margin-top: 2rem;
}

.list-container{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

.list-container a{
    text-decoration: none;
    color: #010101;
}

.list-container a:hover{
    text-decoration: underline;
}

.list-container li{
    list-style: none;
}

.list-container .list-heading{
    font-size: 1.2rem;
    font-weight: bold
}

footer{
    background-color: #0047ae;
    color: white;
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}

.footer-a a{
    text-decoration: none;
    color: white;
}

.footer-logo{
    display: flex;
    flex-direction: column;
}





@media (max-width: 1000px) {
    .upper-nav{
        display: none;
    }
    nav{
        flex-wrap: wrap;
        padding: 1rem;
    }
    .hero-bottom{
        flex-wrap: wrap;
        height: auto;
    }

    .special-programs, .search-test{
        position: relative;
        margin-top: 2rem;
        height: auto;
    }

    .program-container, .test-container,.promotion-container, .quality-item-container, .corporate, .certificates-container, .cert-logos, .blog-container, .video-container, .list-container{
        flex-wrap: wrap;
    }

    .popular-tests, .search-test, .promotions, .explore, .corporate, .quality, .certificates, .featured, .videos, .info, .faq, .test-at-home, .all-tests{
        margin: 4rem;
        height: auto;
    }

    .package-item-container{
        flex-wrap: wrap;
    }

    .package-item{
        margin: 1rem 0;
    }

    .explore img{
        width: 450px;
    }

    .explore{
        padding: 0;
    }

    .corporate{
        width: auto;
        padding: 0;
    }

    .download-section img{
        height: 5em;
        width: 10rem;
    }

    .sub-footer{
        height: auto;
    }
}
